*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}


.container{
    position: fixed;
    padding:10px;
    width:100vw;
    min-height:100vh;
    display:flex;
    touch-action: none;
    /* background-image: url("https://t3.ftcdn.net/jpg/04/95/83/48/360_F_495834896_84gYm1ukldpg66tdCnGHmxi6pgrVlCTw.jpg"); */
    background-image: url("https://img.freepik.com/premium-vector/nature-forest-landscape-background_1308-71950.jpg"); 
     background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    /* background:linear-gradient( 45deg,rgb(15 16 12), rgb(99 90 86)); */
    /* align-items:center; */
    justify-content: center;
    align-items: center;
  
}


.botton{
    display:none;
}

#touchTrack{
    position:absolute;
    display:inline;
    width:max-content;
    top:8vh;
    left:15px;
    z-index: 15;
    font-weight: 500;
font-family: 'Courier New';
/* font-size: 20px; */
background-color:rgb(211 214 74);
padding: 0px 20px;
box-shadow: -2px -2px 5px black;
 box-sizing: content-box;
}
#box{
    /* background-color: yellow; */
    grid-row: 2;
    grid-column:6;
}
.snakeHead{
  /* background: radial-gradient(rgb(255, 42, 0),black); */
  background-image:url("SnakeHead.png"); 
  background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
  scale:1.5;
  z-index: 13;
  /* border-radius:cover; */
  border-radius:10px;
 
  /* border: 1px solid white; */

  

}
.snakeBody{
    background-color: rgb(66, 26, 9);
    border-radius: 5px;
    box-shadow: 2px 3px 5px yellow inset;
    border: 1px solid green;
    
}
.food{
    border-radius:10px;
    background-image: url("https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAyL3Jhd3BpeGVsX29mZmljZV8zMF9hX2RyYXdpbmdfb2ZfYV9idXJnZXJfaW5fdGhlX3N0eWxlX29mX2JvbGRfb181NWI2OWI5ZC02YjQ2LTRkZDctYWFlMy0wMDkzOTUwODc5ZDdfMS5wbmc.png");
    /* background-color: #fff; */
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    /* background:linear-gradient(#cb980c,rgb(225, 17, 17)); */
    scale:1.1;
    box-shadow: 1px 1px 3px rgb(43, 6, 6);
    
}
header{
    
    width:100vw;
    height: 6vh;
    top:0;
    left:0;
    z-index: 10;
 
    border-bottom: 2px solid white;
   backdrop-filter: blur(20px);
   text-shadow: 5px 1px 1.5px rgb(21, 21, 18);;
    /* border:2px solid white; */
    position:fixed;
    /* border-bottom: 2px solid white; */

}
#slideUp{
    top:68vh;
    left:47vw;
   
   }
h2{
    display:inline-block;
   font-size:5vh;
    margin:5px;
    color:rgb(219, 219, 44);
    font-family:'Courier New', Courier, monospace    ;
}

#leader{
    position:absolute;
    display:inline;
    top:8vh;
    right:15px;
    width:max-content;
    z-index: 14;
    font-weight: 500;
    font-family: 'Courier New';
    /* font-size: 20px; */
    background-color:rgb(211 214 74);
    padding: 0px 20px;
    box-shadow: -2px -2px 5px black;
     box-sizing: content-box;
    
    /* color:rgb(226, 216, 204); */
}


#hiScore{
    top:6.5vh;
    
    right:15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-bottom:5px;
  
}
#myScore{
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
    padding-top:5px;
}

 @media  (max-width: 600px) {

  
 .botton{
    position:       fixed;
    display:inline-block;
     border:none;
      background: transparent;
     min-width:45px;
     min-height:45px;
      border-radius:20px;
      /* background-color: #e7f03e; */
      top:75vh;
      left:45vw;
     
   }
   img{
    width:40px;
   }
   .botton:hover{
    scale:1.1;
   }
   #up{
      transform: rotate(-90deg);
   }
   #down{
    transform: rotate(90deg);
 }
 #left{
 transform: rotate(180deg);
 }



   /* #slideUp{
    top:75vh;
    left:47vw;
   
   } */
   
   #slideDown{
    top:85vh;
    left:45vw;
   }
   #slideLeft{
    top:80vh;
    left:33vw;
   }
   #slideRight{
    top:80vh;
    left:57vw;
   }


   #snakeZone{
    display:grid;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    /* background-image: url("https://img.freepik.com/premium-vector/nature-forest-landscape-background_1308-71950.jpg"); */
    /* background: linear-gradient(grey,   #e3536a);  */
    /* background-image: url("https://img.lovepik.com/photo/48010/8637.jpg_wh860.jpg"); */
    /* error 
    background-image: url("https://t3.ftcdn.net/jpg/04/95/83/48/360_F_495834896_84gYm1ukldpg66tdCnGHmxi6pgrVlCTw.jpg"); */
    /* background-repeat: no-repeat;
    background-position:center;
    background-size:cover; */
    /* background: linear-gradient(grey,   #e3536a);    */
    backdrop-filter: blur(2px);
     box-shadow: 4px 2px 5px rgba(6, 109, 52, 0.413) ;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat( 21,1fr);
    width:98vmin;
    height:120vmin;
     background: transparent;
   /* height:70vh; */
   border:2px solid rgb(51, 91, 3);
}


#startBtn{
    position:absolute;
    right:10px;
    top:6px;
    width:40px;
    height:35px;
    background: transparent;
    backdrop-filter: blur(5px);
    border:2px solid rgb(14, 15, 1);
    /* background: linear-gradient(rgb(249, 246, 246),   #646161);  */
   /* background: radial-gradient(rgb(6, 244, 165),#fff); */
    /* background: linear-gradient(rgb(0, 255, 72) ,rgb(210, 143, 8)); */
    
    color:brown;
    /* border:none; */
    backdrop-filter: blur(5px);
    border-radius:12px;
    box-shadow:-2px 3px 5px rgb(11, 30, 2) inset;
    
}
   

   
}


@media (min-width:601px)
{
 
#snakeZone{
    display:grid;
    margin-top:13vh;
    border-radius: 15px;
    /* background-image: url("https://img.lovepik.com/photo/48010/8637.jpg_wh860.jpg"); */
    /* error */
     /* background-image: url("https://t3.ftcdn.net/jpg/04/95/83/48/360_F_495834896_84gYm1ukldpg66tdCnGHmxi6pgrVlCTw.jpg"); */
    /* background-image: url("https://img.freepik.com/premium-vector/nature-forest-landscape-background_1308-71950.jpg"); */
    /* background: linear-gradient(grey,   #e3536a);  */
    /* background-repeat: no-repeat;
    background-position:center;
    background-size:cover; */
    backdrop-filter: blur(2px);
       box-shadow: 4px 2px 5px rgb(19, 19, 18) ;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: repeat( 21,1fr);
    width:98vmin;
   height:75vh;
   border:2px solid rgb(16, 1, 0);
}


#startBtn{
    display:none;
}
}